---
layout: default.hbs
title: <%= site.title %>
---

<div class="jumbotron">
  <!-- div class="container">

{{#markdown}}
# {{site.title}}
## A template for building a static site using [bower](http://bower.io/), [grunt](http://gruntjs.com/), and various grunt tasks, including [assemble](http://assemble.io/).
{{/markdown}}

    <p><a href="https://github.com/Hypercubed/assemble-bootstrap-template" class="btn btn-primary btn-lg">View on github</a></p>
  </div -->
</div>

<div class="container" ng-app="mainApp">
  <div class="page-content col-md-8 col-md-offset-2" ng-controller="CardCtrl">

    <div class="row">
      <div class="btn-toolbar pull-right" style="margin-bottom: 5px;">
        <div class="btn-group" ng-show="isEditing" ng-cloak>
          <button type="button" class="btn btn-primary" ng-click="b1()" tooltip="Hide this seletion">{ }</button>
          <button type="button" class="btn btn-primary" ng-click="b2()" tooltip="Cloze this selection">[..]</button>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-primary" ng-click="add()"  tooltip="New card"><i class="glyphicon glyphicon-plus-sign"></i> </button>
          <button type="button" class="btn btn-primary" ng-click="deleteCard()"  tooltip="Delete this card"><i class="glyphicon glyphicon-remove"></i ></button>
          <button type="button" class="btn btn-primary" ng-click="reset()" tooltip="Reset cards">R</button>
          <button type="button" class="btn btn-primary" ng-click="edit()" tooltip="Edit"><i class="glyphicon glyphicon-pencil"></i> </button>
        </div>
      </div>
    </div>

    <div id="review" ng-hide="isEditing" >
      <div class="card editable" ng-class="{clozed: clozed}" ng-dblclick="edit(card)" ng-bind-html="card.text | formatCard"></div>
    </div>

    <div id="edit" ng-show="isEditing" ng-cloak>
      <textarea class="form-control cardEditor animate-show" rows="5" placeholder="Card contents" ng-model="card.text"></textarea>
    </div>

   <div class="row well">
    <div class="col-md-4 text-left">
      <div ng-cloak>
        Card \{{index+1}} / \{{cards.length}} total
        <br />Due \{{card.due | date:'yyyy-MM-dd'}}
        <br />\{{( cards | dueNow ).length}} due
      </div>
    </div>
    <div class="col-md-4 text-center" tabindex="0" ui-keyup="{'left right space':'keypressCallback($event)'}">
      <div class="btn-group" >
        <button type="button" class="btn btn-default" ng-click="up()" ng-hide="clozed" tooltip="Correct"><i class="glyphicon glyphicon-thumbs-up"></i> </button>
        <button type="button" class="btn btn-default" ng-click="flip()" tooltip="Flip"><i class="glyphicon glyphicon-repeat"></i> </button>
        <button type="button" class="btn btn-default" ng-click="down()" ng-hide="clozed" tooltip="Incorrect"><i class="glyphicon glyphicon-thumbs-down"></i> </button>
      </div>
    </div>
    <div class="col-md-4 text-right">
      <div class="btn-group">
        <a class="btn btn-default" ng-click="prev()"  tooltip="Next">&laquo;</a>
        <!-- li ng-repeat="card in cards" ng-class="{active: $index == index}"><a ng-click="goto($index)">\{{$index+1}}</a></li -->
        <a class="btn btn-default" ng-click="next()" tooltip="Previous">&raquo;</a>
      </div>
    </div>
  </div>


  </div>
</div>
